@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;1,200&family=Poppins:wght@100;300&display=swap');
nav {
    background-color: #000000;
    position: fixed;
  
    height: 8%;
    min-width: 100%;
    border: 1px #000000;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    left: 0;
    top: 0;
    z-index: 1000;
    
}

img#logo {
    padding: 10px;
    float: left;
    height: 30px;

}
#menu {
    text-decoration: none;
  
    color: #fff;
    float: left;
    padding: 10px ;
    overflow: hidden; /*biar keliatan rapi , menunya kalo kepanjangan gk ke bawah*/
    display: block;
    text-align: center;
}
  
#menu1 {
    text-decoration: none;
  
    color: #fff;
    float: right;
    padding: 10px;
    overflow: hidden; /*biar keliatan rapi , menunya kalo kepanjangan gk ke bawah*/
    display: block;
    text-align: center;
}
  
a#menu:hover {
    background-color: #fff;
    color: #000;
}
